@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #0A3871;
    --color-secundario: #FFFFFF;
    --color-terciario: #000000;
    --color-cuarto:  #343A40;
    --color-fondo: #F3F5FC;
    --color-hover: #272727;
    --font-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    box-sizing: border-box;

}
.header {
    padding: 2% 0% 0% 15%;
    color: var(--color-cuarto);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    
}

.ingreso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.principal {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.seccion__izquierda {
    width: 55%;
}

.seccion__derecha {
    width: 45%;
    background-color: var(--color-secundario);
    height: 944px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;

}

.icono {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    padding-bottom: 10px;
}

.icono img {
    margin-right: 1px;
}

.texto__entrada {
    width: 700px; 
    height: 800px;
    color: var(--color-primario);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--color-fondo);
    border: none;
    resize: none;
    outline: none;
}

.texto__salida {
    width: 336px;
    height: 781px;
    color: var(--color-cuarto);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 2rem;
    overflow: auto; 
    overflow-wrap: break-word;
}
.botones {
    padding-top: 20px;
    display: flex;
    gap: 70px;
}

.boton {
    display: flex;
    padding: 20px 120px;
    font-size: 1rem;
    font-family: var(--font-inter);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: var(--color-secundario);
    border: 1.5px solid var(--color-primario);
    border-radius: 24px;
    box-sizing: border-box
}

.copiar {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}
.encriptar {
    background-color:var(--color-primario);
    color: var(--color-secundario);
}

.desencriptar {
    color: var(--color-primario);
    background-color: var(--color-fondo);
}

.texto__simple {
    font-family: var(--font-inter);
    color: var(--color-cuarto);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 0 20px;
}

.texto__subsimple {
    font-family: var(--font-inter);
    color: var(--color-cuarto);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 0 10px;

}

.encriptar:hover, .desencriptar:hover, .copiar:hover {
    background-color: var(--color-hover);
}


.footer {
    background-color: var(--color-cuarto);
    text-align: center;
    color: var(--color-fondo);
    font-size: 1.25rem;
    font-family: var(--font-inter);
    font-weight: 400px;
    padding: 24px;
}

@media (max-width: 1200px) {
    .header{
        padding: 10%;  
   }
   .principal{
        flex-direction:column;
        padding: 5%;

   }
   .texto__entrada {
        width: 100%; 
        height: 400px;
    }a

    .seccion__izquierda {
        width: auto;
        height: auto;
    }
    
    .seccion__derecha {
        width: 400px;
        height: 200px;
    }
    .imagen {
        display: none;
    }
    .copiar {
        display: none;
    }
}

@media (max-width: 430px) {
    .botones {
        flex-direction: column;
        gap: 5px;
    }
    
}